[2013-05-05 21:22] jho1965us opened #12 "problem using T4Toolbox"
Created the foolowing example program:
copied T4Toolbox.dll to local folder
ForTea find T4Toolbox.dll ok but fail to find namespace T4Toolbox
<code>
<#@ assembly name="T4Toolbox.dll" #>
<#@ import namespace="T4Toolbox" #>
<#+
// <copyright file="Generator1.tt" company="HP">
//  Copyright © HP. All Rights Reserved.
// </copyright>

public class Generator1 : Generator
{
	protected override void RunC

[2014-12-14 11:14] MrJul opened #47 "Clean up usings with includes"
Seems like included imports are cleaned up, in memory only. Existing usings are also moved in memory, and chaos ensue when the file is saved.

[2015-01-26 10:52] Giorgi opened #48 "assembly imports not recognized."
I installed nuget package [EntityFramework.CodeTemplates.CSharp](https://www.nuget.org/packages/EntityFramework.CodeTemplates.CSharp/) which contains t4 templates for Entity Framework code first generation but ForTea is reporting false positives.

It dims all namespaces in `import namespace` statement and consequently `CSharpCodeHelper` and `EdmHelper` are highlighted in red. As a result all code

[2015-02-17 14:40] aensidhe commented on #48
I have same issue and same question. :+1:

[2015-02-17 15:51] MrJul commented on #48
ForTea cannot resolve the Microsoft.Data.Entity.Design and EntityFramework assemblies since VS cannot either in a standard design T4 file (add TextTemplatingFileGenerator as a custom tool to the .t4 files to reproduce). It seems the EntityFramework generator adds custom paths for assembly resolving before calling the template and ForTea can't know that.

As a work around, please try to add those l

[2015-03-19 02:06] vfofanov opened #49 "Support R# 9.1"
Good day to you!

Do you have plans support R# 9.1 EAP?
Just install VS2015 CTP6  + R#9.1 EAP, but after trying to install ForTea for R#9(some magic with pakages.config), got broken R#. They changed some API, unfortunately

Best regards,
Vasiliy

[2015-04-09 13:54] rupertsciamenna89 opened #50 "Cannot Resolve Symbol <Where>"
Good day.

I've created a template with a simpliest Linq Query:

    <#@ template debug="false" hostspecific="true" language="C#" #>
    <#@ assembly name="System.Core" #>
    <#@ assembly name="System.Xml" #>
    <#@ assembly name="System.Xml.Linq" #>
    <#@ import namespace="System.Collections.Generic" #>
    <#@ import namespace="System.Linq" #>
    <#@ import namespace="System.Text" #>
    <#

[2015-04-11 09:06] shestakov commented on #49
+1, ~~want~~ need it badly! :)

[2015-04-14 07:32] MrJul commented on #49
Sorry for the late response. It's coming :)

[2015-04-24 09:21] #47 closed

[2015-04-24 09:28] MrJul commented on #50
Hello,

Thank you for reporting, but I can't reproduce the problem with the code you pasted.

Could you please try ForTea v1.3.2 (requires ReSharper 9.1)?
If it still reproduces, a sample project would be grealty appreciated!

[2015-04-24 09:29] MrJul commented on #49
v1.3.2 for ReSharper 9.1 is now available!

[2015-04-24 09:29] #49 closed

[2015-04-24 09:35] shestakov commented on #49
Thank you, @MrJul! This is a really awesome add-in, I use it to render C# client models to client models for Knockout.js in TypeScript. Have you thought about turning it into a commercially supported product? :)

P.S. Yes, I am worried about possible cancellation of such a good product :)

[2015-04-24 09:58] MrJul commented on #49
@shestakov I have no short time plans for it, but knowing that there are potential customers is always nice.

Don't worry, I have absolutely no desire to abandon it either! :)

I was initially planning to support ReSharper 9.1 much earlier, but time flew by!

[2015-04-27 20:14] thnk2wn opened #51 "Intellisense - Can't select suggestion"
When I select something from the intellisense list using Enter or Tab, what I selected doesn't get inserted. Instead just "_()". See https://www.dropbox.com/s/fova73g3jxr44ls/2015-04-27_13-09-28.mp4?dl=0

Also can't type "." with something selected. I always have to hit Escape after the suggestions come up.

It seems to sort of work for the left hand side of expressions when there's no code before

[2015-04-27 21:03] MrJul commented on #51
Does it happen only for this file? For a particular type?
I can't seem to reproduce, a simple repro would be grealy appreciated!

[2015-04-27 21:38] thnk2wn commented on #51
See https://www.dropbox.com/s/xe0l18ug5fzm09r/Cyrus.CodeGen.zip?dl=0

Open SprocReader.ttinclude. You can repro with a method like GetResultSetInfo by wiping out the right side an assignment where it uses the DataReader.

[2015-04-27 21:55] MrJul commented on #51
Thank you! At fist I couldn't reproduce. After messing with the options, it turns out completion fails only if "show members signatures" is disabled in Environment | IntelliSense | Completion Appearance. (As a temporary workaround, you can try to enable it.)

[2015-04-27 22:04] thnk2wn commented on #51
Ahh, thanks. Changing that R# option is a good workaround until that can be supported.

[2015-04-27 22:20] MrJul commented on #51
I found the root cause: removing the include directive from SqlServerNewSelectSproc.tt and restarting VS solves the problem, as odd as it sounds. I will investigate further.

[2015-04-27 22:22] #12 closed

[2015-04-27 22:26] MrJul commented on #48
@Giorgi @aensidhe Is the workaround OK for you?

[2015-04-28 04:55] aensidhe commented on #48
Thank you, but we dropped our T4 and replaced it with Roslyn. So I didn't try it, sorry.

[2015-06-01 19:37] BradBarnich commented on #50
I see this a lot too. Both VS2013 and VS2015, R# 9.1.1, ForTea 1.3.2

Only LINQ extension methods are the problem, all the other highlighting works as does calling LINQ as static methods, `Enumerable.Select( ... )`

For a little while it was working sporadically, like file->new project/solution, add a template with LINQ would work, but my main solution would not. But trying again today, the file->

[2015-06-29 18:07] jslicer commented on #50
I third this issue.

[2015-06-29 19:14] rupertsciamenna89 commented on #50
Sorry, If I reply only now. I installed ForTea 1.3.2 and ReSharper 9.1, and I don't see the issue. It works properly.

Thanks for this magic tool.

[2015-08-19 20:44] kennyeni opened #53 "[Request] Custom extension"
Hi,

I use a lot of T4 on a daily basis for different purposes, and for this reason I got a bunch of custom extensions to help VS know how to handle each of these type of uses (if it going to be built, passed as it is, if is deisgn time or runtime).

I would be great if I could define custom extensions (not only .tt) to get this to work :)

(I only need it to think another extensions beside .tt ar

[2015-08-19 21:12] kennyeni commented on #53
Corrected request title

[2015-08-24 17:07] ac4simms commented on #51
I have the same problem in all files.

http://screencast.com/t/FdvB4nhM

[2015-08-25 08:49] shestakov opened #54 "R# 9.2 support"
Awaiting as always :)

[2015-09-14 12:23] remcoros commented on #54
I tried to upgrade the SDK and compile/deploy this myself, but failed. Resharper extension manager doesn't pick it up from my local source.

Can we get an official update?

[2015-09-14 12:47] remcoros commented on #54
Just sent a PR

[2015-09-15 14:45] MrJul commented on #54
Sure, sorry for the delay and thank you for the PR, getting back to ForTea dev :)

[2015-09-15 18:59] MrJul commented on #51
Okay, I was investigating this issue tonight and found the root cause, related to include files. Unfortunately, I'm not sure if I can work around it or if it needs some fix inside ReSharper.

@citizenmatt @derigel23 I believe I need your help here. When a T4 file is parsed, I call `FileDependency.UpdateDependencies` inside `SecondaryDocumentGenerationResult.CommitChanges` to invalidate any file th

[2015-09-15 19:12] MrJul commented on #53
I don't think that's directly possible, currently all supported extensions are hard-coded into ReSharper (I'm not talking only about ForTea, but all supported languages).

That said, currently `.tt`, `.t4` and `.ttinclude` are recognized.

[2015-09-15 19:42] MrJul commented on #48
Closing this since there's a workaround. Reopen if needed.

[2015-09-15 19:42] #48 closed

[2015-09-16 16:20] MrJul opened #56 "Implement IChamelonBlock to take advantage of incremental reparse"

[2015-09-16 17:17] #51 closed

[2015-09-16 17:21] MrJul commented on #51
I chose not to use ReSharper's `FileDependency` at all . I rolled my own [T4FileDependencyManager](https://github.com/MrJul/ForTea/blob/master/GammaJul.ReSharper.ForTea/Psi/T4FileDependencyManager.cs) that invalidates and re-commits includers. I don't know if it's the best way to solve the problem, but it works.

Will be in v1.4.0.

[2015-09-16 20:51] MrJul commented on #54
ForTea for ReSharper 9.2 has been published into the plugins gallery!
In addition, #51 has been fixed.

[2015-09-16 20:51] #54 closed

[2015-09-21 09:06] citizenmatt commented on #51
Sorry, been offline for a few days. Sounds like you've hit a bug - have you reported it other than the exception stack? If not, please could you get a quick repro together please, and I'll chase it up.

[2015-11-02 14:23] mwpowellhtx opened #57 "Requires manual restart in VS2013"
Not a major issue, don't know if it is possible to reach out from a plugin to a plugin through to VS2013 in order to restart the host environment. Not the PC itself, just the Visual Studio experience. After that, things like syntax highlighting runs beautifully. Thanks!

[2015-11-02 16:55] MrJul commented on #57
There's a required Visual Studio restart each time a ReSharper plugin is installed/updated/uninstalled. ReSharper should tell you this and ask to restart VS, but in v9.x it's not very obvious (an icon in the taskbar). In ReSharper 10, you've got a big yellow bar that you can't miss.

[2015-11-02 17:03] mwpowellhtx commented on #57
Thanks, that's probably what it was, though I wasn't paying that close attention.

[2015-11-02 17:03] #57 closed

[2015-11-03 17:15] mwpowellhtx opened #58 "Integrate with ReSharper disable once features"
Hands down, AWESOME text translation framework you have going on here. Thank you!

I do not know if this is possible.

Basically, I get warnings like "Use string interpolation expression", but the template is embedded within 2013, not 2015. 2015 is an option but I haven't migrated there, yet; for now I am productive with 2013.

[code]

Would be great to add comments such as:

[code]

Supposing tha

[2015-11-05 13:06] jho1965us opened #59 "ForTea some times show empty tooltip"
e.g. for System.IO.Path.GetDirectoryName as seen in screenshot

![image](https://cloud.githubusercontent.com/assets/4348979/10969080/55d9abe4-83c6-11e5-9a04-b7ea4e0a49c8.png)

[2015-11-08 10:27] molnarm opened #60 "Custom MSBuild properties are not resolved by R#"
It is possible to define custom build properties in .targets files or in Visual Studio project files, for example:
[code]
When transforming templates from Visual Studio or in the build, these properties are recognized and substituted correctly.

However, when ForTea is added to ReSharper, and user-defined properties are used in `include` or `assembly` T4 directives, they are underlined with red an

[2015-11-09 09:24] MrJul commented on #60
Nice catch! I'll happily accept a pull request.

[2015-11-09 09:24] MrJul commented on #59
It seems to be ReSharper 10 only, will investigate.

[2015-11-09 09:25] MrJul commented on #58
I don't think it's easy to do so right now because ReSharper implicitly uses the containing project language version. I'll have a look and open a issue in ReSharper if I can't solve this.

[2015-11-09 09:32] citizenmatt commented on #58
Yep, ReSharper uses the C# language level of the project. By default, this isn't specified explicitly, and becomes the default value for Visual Studio - so VS2013 will be C#5 and VS2015 will be C#6. You can explicitly set it using the project properties page &rarr; Build &rarr; Advanced &rarr; Language Version. This will write a property to the .csproj file, and ReSharper will respect this. If you

[2015-11-09 09:51] MrJul commented on #58
Thank you for the explanation Matt.

There's bad news though: T4 files in VS2015 don't seem to use C# 6! However, since the containing project .cs files can use C# 6, the language level can't be changed at the project level. I didn't find a way to flag some PSI file with a specific language level, it's always at the project level.

[2015-11-09 12:12] mwpowellhtx commented on #58
What I am saying is that C# 6 suggestions are happening for C# 5.

[2015-11-09 12:14] mwpowellhtx commented on #58
Perhaps the logic is fouled between VS versions?

[2015-11-09 18:20] mwpowellhtx commented on #58
![t4-vs2013-use-string-interpolation-expression](https://cloud.githubusercontent.com/assets/1824187/11042363/9f4f3926-86e4-11e5-804d-621ca4b01eaa.png)

[2015-11-11 11:53] citizenmatt commented on #58
Yeah, that is a different issue. As far as I can see, there isn't a way to mark a file as C#5 only, you can only do it per-project. So there isn't a good way to get rid of these warnings as it stands. I've added an issue ([RSRP-450646](https://youtrack.jetbrains.com/issue/RSRP-450646)) to track this.

[2015-11-11 12:03] mwpowellhtx commented on #58
@citizenmatt Cool thanks. Reading these reports, it seems to me that the language defaults are at least reversed from what they should be. I call that a bug, however innocent it may be. It can cause problems to the unsuspecting. I did find the settings in my project, but have *never* had to set them before. Somehow is seeing 13/5 as 15/6 and vice versa.

[2015-11-11 12:09] citizenmatt commented on #58
I don't think anything is reversed. These two issues (the one I linked, and the one it's related to) are about running in VS2015 - the default project is set to C#6, so ReSharper uses that, and generally everything is fine. (And in VS2013, the default is C#5, as it should be). The problems appear to be only in T4 and Razor files, which apparently only support C#5. Because ReSharper's C# language l

[2015-11-11 12:32] mwpowellhtx commented on #58
I'm not sure I completely understood all that; it can get confusing which sandboxes, islands, etc, are involved. So VS2013 C# 6 suggestions versus VS2015 C# 5 suggestions isn't reversed? Okay, if you say so (sarcasm; I'm not buying that excuse). As long as it's known and something is being done about it.

[2015-11-11 12:35] citizenmatt commented on #58
Oh, hang on. I missed that you're seeing C#6 suggestions in VS2013.

I thought you were seeing C#6 suggestions (in VS2015) in T4, which can only have C#5.

I'll investigate. Do you have a repro for VS2013 solution that shows this?

[2015-11-11 12:49] mwpowellhtx commented on #58
Please pay attention. That's precisely what's being reported on the whole.

[2015-11-11 12:52] MrJul commented on #58
Both issues might be related since's there a fake project involved with ForTea. Are your T4 files inside or outside a project?

[2015-11-11 12:59] mwpowellhtx commented on #58
As I reported, I have a VS2013 project, in which the T4 file is a part, yes, "compiling" with the custom tool. The only other thing that would be great there is to somehow identify T4 dependency files; i.e. refresh when those dependencies are detected, but this is more of a T4 issue I think (?).

[2015-11-11 13:38] citizenmatt commented on #58
@MrJul if you return an `IProject` from [`IPsiModule.ContainingProjectModule`](https://github.com/MrJul/ForTea/blob/548882de8cf49e3ed9db8c82bad63fc921ef189a/GammaJul.ReSharper.ForTea/Psi/T4PsiModule.cs#L119), you will get the chance to influence the C# language level. If you return `null`, as you're doing now, it'll default to C#6.

If you set the T4 module's owning project to the project that als

[2015-11-11 13:48] MrJul commented on #58
@mwpowellhtx Thank you for the additional information.

@citizenmatt I've done that previously, but there were issues, mostly exceptions (can't remember which ones on the top on my head) since ReSharper asserts things about the project. I'll try again and let you know what was wrong.

[2015-11-11 13:52] mwpowellhtx commented on #58
@MyJul No problem. Sounds like the joys of working within a plugin environment. Thanks for looking into it.

[2015-11-12 08:53] molnarm opened #62 "Usages for methods defined in included templates are not found"
Let's assume we have the following structure:
**Template.tt:**
[code]

**Included.ttinclude:**
[code]

When the cursor is set on the method call in the main file, it is possible to navigate to the definition in the included file. However, the opposite direction does not work: when the cursor is on the method definition in the included file and I want to find usages, R# says "Usages of '`MethodInIn

[2015-11-16 09:19] jho1965us opened #63 "Wrong completion after <#= ... #"
should be #>

(apparently newlines in text between <#= and #> is erased before compilation so any preprocessor directive will be illegal)

![image](https://cloud.githubusercontent.com/assets/4348979/11178200/82f34f9e-8c4b-11e5-8abc-ed15fd121742.png)

[2016-01-15 15:14] mnaoumov opened #64 "False positive error 'Base class doesn't have a valid TransformText method'"
Consider template **MyTemplate.tt**

[code]

If **T4Helper.MyTemplate** class doesn't have**TransformText** method the error tooltip ***Base class doesn't have a valid TransformText method*** is shown. This error is false if the required method is declared in the **MyTemplate**'s base class

[2016-01-18 14:25] fnajera-rac-de commented on #50
I can reproduce with Resharper 10.0.2 (and any 10.0.x) and ForTea 1.5.0 using my own templates.

In particular, the lines with

<#@ import namespace="System.Linq" #>

have the namespace in light blue and hovering them says "Using directive is not required by the code and can be safely removed".

Also, if it helps, when placing the cursor on the unrecognized Linq methods like Where or Many, the lig

[2016-01-19 09:11] CrazyViper commented on #50
I can reproduce it with ReSharper 9.2 and ForTea 1.4.1.

[2016-01-20 02:11] wywgong opened #66 "ForTea 1.5.0 can't install on Resharper 10.0.2"
Reproduce:
Step 1: Open Extension Manager and search for ForTea,
Step 2: Select install and install the ForTea plugin.
Step 3: A message popup and say the plugin install successful and need to restart the VS2015.
Step 4: After restart the ForTea still show not installed in Extension Manager

Environment: Windows 10, VS2015 with no Update 1, ReSharper 10.0.2

Note: only ForTea plugin has this probl

[2016-01-20 05:30] IanYates commented on #66
It's working for me...  I'm on the same build except I do have update 1 for VS 2015 installed.

What shows up in your ReSharper->Help->About...?

JetBrains ReSharper Ultimate 10.0.2 Build 104.0.20151218.120627
ReSharper 10.0.20151218.130009

Application Packages:
CitizenMatt Xunit build 2.3.3 on 2016-01-08 02:28:03Z.
Hunt ResharperGlyphfriend build 0.7.0 on 2016-01-08 02:28:03Z.
JetBrains Platform

[2016-01-20 07:05] wywgong commented on #66
@IanYates Thank you for your reply
Here is my info

JetBrains ReSharper Ultimate 10.0.2 Build 104.0.20151218.120627
dotCover 10.0.20151218.125453
dotMemory 10.0.20151218.125655
dotTrace 10.0.20151218.132452
ReSharper C++ 10.0.20151218.122414
ReSharper 10.0.20151218.130009

Application Packages:
JetBrains AngularJS build 1.4.1 on 2016-01-20 02:00:27Z.
JetBrains DotCommon Core build 104.0.20151218.1

[2016-02-15 12:16] tankbob opened #67 "Prevent c# 6.0 features"
When editing a T4 template within a project marked as using c# 6.0 features, there are hints and warnings suggesting using features like replacing string.Format with $"" etc.  As T4 doesn't support the Roslyn features, the parser needs to be able to force the compatibility version to c#5

[2016-02-15 12:24] tankbob commented on #67
Sorry just noticed that issue 58 actually includes this problem.

[2016-02-15 12:24] #67 closed

[2016-02-15 15:05] billwoo opened #68 "Cannot install in VS 2013 and ReSharper 10.0.2"
You provide no information on what exactly you need to select to install ForTea !

I've tried selecting the various folders in the download from ReSharper/Options/ExtensionManager, and, there's no error message, but nothing happens. I do not receive any completion message that asks me to restart Visual Studio. The .tt file I have has no syntax coloring etc.

thanks, Bill

[2016-03-03 11:27] iyakov opened #69 "When using assembly link to dll, imported namespace is marked as an unresolved symbol."
I use this attributes for my tt file in Unity3D project. tt generates code that is compiled into Assembly-CSharp.dll. Then I use it to import its code.

[code]

It works however when I start VS2015 **next time**, Resharper marks **MyApp** as an **unresolved symbol**!

[2016-03-03 11:32] iyakov commented on #69
It's possible, it could be the same issue as https://github.com/MrJul/ForTea/issues/50
VS 2015 (14.0.24720.00 Update 1),
Resharper 10.0.2,
ForTea 1.5.0

[2016-03-18 16:43] SeriousM opened #70 "ReSharper Ultimate EAP6"
Hi, I love your addon, it's really greate :+1: !!

Could you enable it to run with the latest and greatest version of Resharper EAP6?

Thank you!!

[2016-03-31 21:27] kellielellie opened #71 "Code First from Database t4 - EntityFramework.dll conflict"
Error only started occuring after installing ForTea

Does not work for Code First From Database
https://msdn.microsoft.com/en-US/data/dn753860

Visual studio 2015:

An error occurred generating the Code First model. The error occurred generating the contents of Pets.cs.

System.InvalidOperationException: Compiling transformation: The type ‘System.Data.Entity.Infrastructure.DbModel’ exists in both

[2016-04-19 02:53] kkman021 opened #72 "it this will support resharp 2016.1 version"
after install resharp2016.1 version , i can't find fortea on extension manager .
is this will update to support the new version?

[2016-04-19 11:36] SeriousM commented on #70
doesn't count anymore. but support for #72 resharper 2016.1 would be awesome!

[2016-04-19 11:36] #70 closed

[2016-04-19 12:12] sjh37 commented on #72
I too would like to see support for R# 2016.*

[2016-04-20 20:51] LinuxDoku commented on #72
I started porting it to R# 2016.1. There are a lot of changes in R# deamon sdk and I did not find a updated documentation or migration guide yet when I had a quick look on it at my lunch break on monday.

Probably on the weekend, I can dive into this topic again.

[2016-04-20 21:42] MrJul commented on #72
Sorry for the delay guys, I was planning to port ForTea to R# 2016.1 next weekend.
@LinuxDoku Thanks for your contribution, I'll be sure to look at your modifications to save time (or accept a PR if you're done before I start).

[2016-05-09 14:25] revbones commented on #72
Any update on this?

[2016-05-16 07:31] OliverRC commented on #72
+1 to @revbones comment, any news on when we'll be able to use this in 2016.1?

[2016-05-18 13:06] #64 closed

[2016-05-18 14:52] #58 closed

[2016-05-18 14:55] MrJul commented on #58
Since ReSharper 2016.1 has added support for this, ForTea 1.6.0 will use the correct C# version inside T4 files depending on the VS version:
 - C# 4.0 in VS2010
 - C# 5.0 in VS2012 / VS2013 / VS2015 before Update 2
 - C# 6.0 in VS2015 Update 2 or later

[2016-05-18 14:58] MrJul commented on #62
This is difficult to implement currently, since the included file is really... included inside the source code, there's no real reference. Go to definition is overridden to handle this specific case.

I'll have a look at how ReSharper C++ is handling this case.

[2016-05-18 14:59] MrJul commented on #66
I can't reproduce either and no further information have been provided. I'm closing this issue. Feel free to re-open if needed.

[2016-05-18 14:59] #66 closed

[2016-05-18 14:59] MrJul commented on #68
You don't need to go to ReSharper options, click on "Extension Manager" in the main ReSharper menu : a list of all available extensions should be displayed.

[2016-05-18 14:59] #68 closed

[2016-05-18 15:00] MrJul commented on #69
I'm closing this as a duplicate of #50.

[2016-05-18 15:00] #69 closed

[2016-05-18 15:10] MrJul commented on #72
ForTea 1.6.0 [is now available](https://github.com/MrJul/ForTea/releases/tag/v1.6.0) for ReSharper 2016.1!
Thanks to @karpach for the PR.

[2016-05-18 15:10] #72 closed

[2016-06-13 10:38] PedroNunoSantos opened #74 "VS 2013 no syntax coloring in .tt files"
Hello, i am experiencing a problem with fortea 1.6.0.
The intellisense is working just fine but i have no syntax coloring.
I noticed the syntax coloring is working just fine on .ttinclude files. Just having problems on .tt files.
Any ideas what is causing this?

![image](https://cloud.githubusercontent.com/assets/13595217/16004457/a6da4436-3159-11e6-9934-7092203c1835.png)

[2016-06-17 15:51] PedroNunoSantos commented on #74
I guess i messed up some configuration.
Uninstalled and reinstall did the trick.

[2016-06-17 15:51] #74 closed

[2016-07-01 00:31] Muchaszewski opened #75 "Runtime T4 partial methods, field & properties are not recognised"
When creating a class that is partial to runtime template, methods, field and properties are not found in scope, and therfore returning an error.

Steps to reproduce (C# project):
1. Create new runtime template named T4EnumTemplate
2. Create new class like in code shown below

    public partial class T4EnumTemplate
    {
        public string EnumName { get; set; }
        public List<NameComment

[2016-07-05 22:09] kennyeni opened #76 "Relative paths for assemblies"
Hi,

If I have a custom DLL (compiled on _projectDLL_) that I want to add to one of my .tt templates on  _projectT4_ (e.g. `<#@ assembly name="MyDLL.dll" #>`)

Everything dependent on this dll is just "red" and I get no intellisense (however, the .tt -> .cs compilation/transformation works fine during MSBuild)

The only way for me to make this work is setting a full path (e.g.. `<#@ assembly name=

[2016-07-06 07:59] MrJul commented on #76
Hello,

T4 doesn't support relative assembly file names, it's either a GAC strong name or an absolute path, as seen in the [T4 Assembly Directive documentation](https://msdn.microsoft.com/en-us/library/gg586946.aspx).

You can use VS macros instead, eg.
`<#@ assembly name="$(SolutionDir)\YourProject\SomeAssembly.dll" #>`

Hope it helps.

[2016-07-06 18:08] kennyeni commented on #76
I see, is there any way to make ForTea recognize the assemblies referenced
directly on the project? It seems like that's my actual case, I was using
the assembly directive, but without effect, as I was using the references

On Wed, Jul 6, 2016 at 12:59 AM, Julien Lebosquain <notifications@github.com

[2016-07-18 07:46] joepb commented on #75
I encountered the same issue.
Temporary, lame, workaround: define the missing fields/props in T4 itself in a `<#+  #>` block at the end of the file.
I hope there will be a fix soon.

[2016-08-19 16:59] Kasper888 opened #78 "Not supported in Resharper 2016.2"
I'm using resharper 2016.2 and cannot find Fortea Resharper Extension Manager.

[2016-09-09 07:39] Eagle3386 commented on #78
I've managed to download, update and compile ForTea with respect to ReSharper 2016.2.
However, I can't seem to install it into ReSharper - not even by manually editing the configuration files. :(

Any help would be greatly appreciated!

[2016-09-10 16:36] JohanLarsson commented on #78
What feed URL do you guys use for 2016.2?
I'm using `https://resharper-plugins.jetbrains.com/api/v2/curated-feeds/Wave_v6.0/`, no idea if it is right.
I can't install ForTea either.
@MrJul thanks for this nice extension!

[2016-09-10 20:54] citizenmatt commented on #78
If you've got it compiled locally, you'll need to update the `.nuspec` so that it takes a dependency on `Wave`, version `[6.0]`. You can add a new source to the extension manager in the options, such as `C:\temp`, and copy the `.nupkg` file there. You should be able to install it now.

[2016-09-15 19:00] ac4simms commented on #78
When I do this I get the following:
![image](https://cloud.githubusercontent.com/assets/8781643/18563280/4f345d72-7b44-11e6-8971-40dd165870ef.png)

[2016-09-15 20:41] Eagle3386 commented on #78
You need to remove dependencies to old (i. e. 104.x) assemblies and add references to newer ones (i. e. 105.x).

[2016-09-21 07:38] fakhrulhilal commented on #78
I have problem with dependency to JetBrains.VsIntegration.Shell assembly. Honestly, I really don't know which assemblies are required by this plugin and which assemblies are required by JetBrains latest SDK. What I did:

1. Edit .csproj, removing any line that import project from nuget package folder
2. Remove packages.config file
3. Remove any assembly reference except: System, System.Core, Syste

[2016-09-21 09:32] MrJul commented on #78
@fakhrulhilal: all `JetBrains.*` assemblies come from the ReSharper SDK. ForTea also uses some additional `Microsoft.VisualStudio.*` assemblies. If you've deleted everything, you need to install the `JetBrains.ReSharper.SDK` and `JetBrains.Platform.VisualStudio` nuget packages.

I've updated the SDK and fixed some errors. I will now run some tests then publish a new release today if everything wor

[2016-09-21 10:08] MrJul commented on #76
Assemblies are resolved from the project only for Runtime Text Templates (custom tool = `TextTemplatingFilePreprocessor`) since those are directly part of the project. Assembly directives are used for standard ("design time") text templates.

[2016-09-21 10:08] #76 closed

[2016-09-21 10:08] MrJul commented on #78
ForTea is now available for ReSharper 2016.2.

[2016-09-21 10:08] #78 closed

[2016-09-22 11:23] 0xced commented on #75
It looks like #15 might address this issue.

[2016-10-24 03:37] papyr opened #79 "Debug T4 templates"
Hi, how can I navigate to definition, and debug t4 templates please.

thanks

[2016-11-19 02:12] hahoyer opened #80 "Not supported in Resharper 2016.3"
I'm using resharper 2016.3 and cannot find Fortea Resharper Extension Manager.

[2016-12-08 13:12] ftamminga commented on #80
Me too!

[2016-12-17 13:51] MrJul commented on #80
ForTea v1.8.0 for ReSharper 2016.3 is now available!

[2016-12-17 13:51] #80 closed

[2017-01-31 22:01] TimSirmovics opened #81 "Highlighting not working"
I have installed the ForTea plugin v1.8.0 into Visual Studio 2013 R# 2016.3.1
I can't see any highlighting or Intellisense in the t4 file I am using.

The extension manager shows the plugin as installed and Colour Identifiers are turned on.

[2017-03-09 15:52] sjh37 opened #82 "Support R# 2017.* builds"
Love this extension.
Can you please add support for R# 2017 when you have a moment.
Thanks in advance.

[2017-03-10 10:37] ltoshea commented on #82
Also would love to see this

[2017-03-29 17:58] Jothay commented on #82
This extension is still not available in 2017.* builds that I can see.

[2017-04-03 08:55] MrJul commented on #82
I'm working on it currently, expect a release after R# 2017.1 is released.

[2017-04-03 17:48] dmikov commented on #82
It's R# 2017 released. Holding my breath. Seriously counting on you, thank you for great work.

[2017-04-04 10:21] MrJul commented on #82
The code in master now compiles and runs on ReSharper 2017.1. There were changes, both in R# SDK (usual expected API changes) and in VS2017 (the required text templating assemblies aren't in the GAC anymore).

However, there's a serious solution leak that I have to fix before I can release it. I'm working on it.

[2017-04-04 11:55] MrJul commented on #82
False alarm, this was due to an internal R# window open for debugging purposes, this won't happen in normal use. ForTea 1.9.1 for ReSharper 2017.1 is released.

[2017-04-04 11:55] #82 closed

[2017-05-06 08:23] amandengue opened #83 "Resharper initialization hangs ramdomnly"
Helllo,

Since I have installed ForTea 1.9.1 with Resharper 2017.1.2, Reshaper starts to hang randomnly on initialization.
I have created a ticket on Resharper support first, and it turn out the issue is raised when it reads a T4 file.
See https://resharper-support.jetbrains.com/hc/en-us/requests/976921
After uninstalling ForTea, I don't have the problem anymore

![lockedfile](https://cloud.github

[2017-06-06 08:34] leasunhy commented on #81
Same issue here with Visual Studio 2017

[2017-07-09 18:35] andrewvk opened #84 "Rename current template class to standard GeneratedTextTransformation"
ForTea named generated class "Generated\x200CTransformation", but T4 uses "GeneratedTextTransformation". Is it possible to change this constant?

[2017-08-24 21:25] OmiCron07 opened #85 "New version 2017.2 of ReSharper"
Please make the compatibility with the new version of ReSharper 2017.2.

[2017-08-24 21:25] matkoch commented on #85
2017.2 I suppose :)

[2017-08-24 21:33] OmiCron07 commented on #85
Yes, R# 2017.2! With VS2017.3. I updated both today, there the confusion...

[2017-08-31 18:59] krisburtoft opened #86 "import namespace doesn't recognize assembly of current project"
![image](https://user-images.githubusercontent.com/929271/29940371-3e5a1d9a-8e4c-11e7-9552-a9a79d9f917d.png)

[2017-08-31 20:09] CzBuCHi commented on #85
i managed to get it working with R# 2017.2 ... ([fork](https://github.com/CzBuCHi/ForTea))

i will make PR after package "JetBrains.Platform.VisualStudio" gets from pre-release version

[2017-08-31 20:30] matkoch commented on #85
@CzBuCHi the version you're looking for is `109.0.20170824.131327`.

[2017-08-31 20:45] CzBuCHi commented on #86
thats because T4 needs to have binary reference to current project .... with is little difficult when project is not compiled yet ... ;)

easyiest way to fix it is to have two projects: one with code needed by T4 (Slave) and second where T4 actually generates (Master):

Test.tt  in Master project:
[code]
will generate Test.cs:
[code]

Testing.cs in Slave project:

[code]

[2017-08-31 22:41] krisburtoft commented on #86
My assembly does exist and IS a dependent project.  Maybe it has to do with the project type of the Master (the project with my tt file).  This is housed in an Mvc project.  Is it possible the plugin doesn't know where a web project bin  folder resides?

[2017-09-01 06:31] CzBuCHi commented on #86
not sure .... i think it has somethind to do with hostspecific="true" ....
btw: try absolute path in <#@ assembly ...

[2017-09-01 07:15] CzBuCHi commented on #85
@matkoch thanks .... there is my pr: #87

[2017-09-12 15:23] revbones opened #88 "Not supported in 2017.2"
Could you add support for 2017.2 (I know it's a pain that they break extensions when they update Resharper)

[2017-09-14 12:23] AqD commented on #88
I'm trying to migrate the code (zero R# experience). Most parts seem easy but the JetBrains.VsIntegration part is completely gone. Does anyone know where I can look for API / document of the new SDK?

[2017-09-15 09:12] remcoros commented on #88
Check https://github.com/MrJul/ForTea/pull/87

I build from that and it works.

[2017-10-18 09:56] sdanyliv commented on #88
Any updates here?

[2017-10-20 12:33] MrJul commented on #85
ForTea 1.10 for ReSharper 2017.2 is now released.

[2017-10-20 12:33] #85 closed

[2017-10-20 12:33] MrJul commented on #88
ForTea 1.10 for ReSharper 2017.2 is now released.

[2017-10-20 12:33] #88 closed

[2017-10-29 23:37] crunchy234 opened #89 "Rider Support"
Now that Rider has been released I only use Visual Studio for the things I can't do in Rider.

I was wondering if you were planning to release ForTea for Rider since it is also a Jetbrains product?

[2017-10-30 08:44] muratoner opened #90 "ForTea working but doesn't highlighting codes in tt file"
I'm installed fortea extension intellisence worked but doesn't highlight c# codes int any tt files.

**Issue Screenshot**

![Issue Screenshot](http://i64.tinypic.com/el5eoo.png)

[2017-11-19 01:54] kendallb commented on #89
Same here!

[2017-12-19 17:03] OmiCron07 opened #91 "ReSharper 2017.3"
When a new version for ReSharper 2017.3?

[2018-01-08 13:11] Eric-Hanson commented on #91
Do we have an expected date for support on installing ForTea within ReSharper 2017.3?

[2018-01-17 10:41] MrJul commented on #91
Thanks to @matkoch, ForTea v1.11 for R# 2017.3 is now available.

[2018-01-17 10:41] #91 closed

[2018-03-17 23:52] khionu commented on #89
Bumping for support.

[2018-03-18 18:31] matkoch commented on #89
@MrJul there is VisualStudio SDK code, right? So I assume that Rider support isn't possible atm.

[2018-04-18 13:39] KCarterSr opened #93 "New Resharper Release 2018"
Could you please update this for the new Resharper release? 2018

Thank you
K. L. Carter Sr.

[2018-05-17 12:04] vfrz commented on #93
#94

[2018-05-26 18:03] MrJul commented on #93
Sorry for the delay, ForTea is now available for ReSharper 2018.1.1 (there are changes between 2018.1.0 and 2018.1.1 so please ensure you're up-to-date).

[2018-05-26 18:03] #93 closed

[2018-05-28 14:50] KCarterSr commented on #93
Thanks soooo... much!
K. Carter Sr.

[2018-06-08 17:52] jho1965us opened #95 "Cannot resolve Linq when importing System.Linq"
I have some template files that starts with the following:

    <#@ template debug="false" hostspecific="false" language="C#" #>
    <#@ assembly name="System.Core" #>
    <#@ import namespace="System.Linq" #>
    <#@ import namespace="System.Text" #>

they compiles and works as expected but ForTea highlight the Linq in read
and also any of the following extension linq extension work, however ForT

[2018-08-23 07:16] vfofanov opened #97 "Support ReSharper 2018.2"
Hi!
Could you merge pull request [Update to 2018.2 SDK](https://github.com/MrJul/ForTea/pull/96) to main repo and publish ForTea plugin?

Can't update to new ReSharper without your great plugin))

[2018-08-30 07:09] waltnorman commented on #97
Please.  I updated resharper before I knew there wasn't compatible with ForTea.  #sadtrombone

[2018-09-06 12:37] mrgfisher commented on #97
Hi @MrJul

Many thanks for this add-in - its very useful. However,  :-), any chance of an update...

Thanks!

[2018-09-10 13:36] KCarterSr commented on #97
Can you pleaseeeees update.
Thank you

[2018-09-14 15:37] zHaytam commented on #75
Any news on this?

[2018-09-20 21:56] TheDev6 commented on #97
This is the ONLY tolerable t4 plugin IMO! Thanks for writing it, and pretty please hit the latest re-sharper :).

[2018-09-24 08:01] gvdkamp commented on #97
Could you _please_ update MrJul?
Thankx

[2018-10-01 11:59] ebolefeysot commented on #97
I quite never use this plugin because it is not available for the latest r# version.
Can you unlock it so that we can install it with any r# version ?

[2018-10-02 12:31] heikomilke commented on #97
Hi @MrJul
Please

[2018-10-17 19:05] MozgC commented on #97
Please! MrJul, save us from pain! :)

[2018-11-14 11:14] remcoros commented on #97
ReSharper 2018.3 is in the works, not long until released.

[2018-11-23 16:50] eltiare commented on #89
Oh sad. I was really hoping for some sort of way to use this plugin. :(

[2018-11-23 18:19] kendallb commented on #89
I love this extension and would love it for Rider. One thing I hate about this for R# is the stupid versioning system R# uses, in that once they bump to a new minor revision the extensions have to be updated! Grrr. And ForTea still has not been re-released since R# 2018.2 has come out.

JetBrains really needs to fix this, as ForTea will work fine with the latest R# releases as soon as the version

[2018-11-26 11:31] tranceporter commented on #97
If all this needs is an approval and the author has no interest in approving it, maybe it's worth doing a fork of this repo and manage it more actively amongst us? Looking at the pull request it's a very minor change, and it should not take ages to get approved. Maybe the original author is super busy or has lost interest? No dis-respect, just thinking of alternatives.

[2018-11-26 11:41] zgabi commented on #97
@tranceporter Maybe it is not enough to change only the version number as it is in this PR. Did you see PR #98? The author of that PR mentions that he fixed the compile errors, but it still throws runtime exceptions. So maybe it is not so simple, but I don't know. I did not try to complie it.

[2018-12-19 15:38] MrJul commented on #97
I'm planning on working on ForTea for ReSharper 2018.3, but not before 2019.
I haven't been using T4 files much those past months, that's why I've lost some interest (plus little free time). If anyone wants to help, it's gladly welcomed.

[2019-01-06 21:16] ac931274 commented on #97
I have just created a pull request which compiles and works against R# 2018.3 #99

[2019-01-29 08:03] LucaGanio commented on #97
ac931274 can you please publish your version of ForTea on the Resharper gallery, so that we all can use it, since it's pretty clear that MrJul will never do anything about it?

[2019-01-29 17:58] ac931274 commented on #97
@LucaGanio Hi there, should @MrJul not reply by the end of the month, based on his previous comments about being very busy, I will publish  my version on JetBrains plugin site, with the understanding that it will be taken down as soon as 1) @MrJul takes my pull request or 2) he requests to me that it be taken down.

[2019-01-31 18:02] MrJul commented on #97
v1.13.0 for ReSharper 2018.3.2 has (finally) been released!
Many thanks to @ac931274 for the initial changes.

I'm sorry for the delay, I don't think donations will help but I'll try my best to update it faster next time.
I can also add interested people as collaborators to this repository.

[2019-01-31 18:02] #97 closed

[2019-01-31 18:08] MrJul commented on #97
The new unified plugin gallery requires approval from JetBrains, so you'll need to wait a bit more for it to become available: https://plugins.jetbrains.com/plugin/11634-fortea

[2019-02-19 15:54] danielmeza opened #100 "Add support for VS 2019"
I was using this tool on vs 2017 and since it add support for RS 2018.3 I installed on vs 2019 Preview but not instellicens as show on .tt files.

[2019-04-02 19:12] OmiCron07 opened #101 "Add ReSharper 2019.1 support"

[2019-04-30 16:34] MrJul commented on #101
v1.14.0 for ReSharper 2019.1 has been pushed to the plugins gallery (it usually takes a couple days before it's approved).

[2019-04-30 16:34] #101 closed

[2019-04-30 16:55] MrJul commented on #100
Support for VS 2019 has been added in v1.14.0.

[2019-04-30 16:55] #100 closed

[2019-05-16 12:45] genyx commented on #89
Since Rider grows so fast and is very powerful now, i would like to see this plugin in Rider too. 👍

[2019-06-06 15:30] nvirth commented on #89
+1

[2019-08-14 12:12] ekgurney14 opened #104 "Add ReSharper 2019.2 support"

[2019-08-22 18:19] rcarrillopadron commented on #104
I'm using ReSharper 19.2.2 and ForTea is not available

[2019-09-09 21:44] #81 closed

[2019-09-11 00:59] kendallb commented on #89
Any idea if this can be ported to Rider?

[2019-09-18 14:08] MiteshDhiran commented on #104
+

[2019-10-01 19:48] RonGarlit commented on #104
Ditto that need this for 2019.2.2 built on 2019-08-28

[2019-10-16 09:38] zgabi commented on #89
Do you know what is this
https://github.com/MrJul/ForTea/pull/102
and this?
https://github.com/MrJul/ForTea/pull/103

It seems that the guy was working a lot on it, then deleted.

[2019-11-04 15:37] kirillgla commented on #89
Yes, I am working on T4 support in Rider. Sorry, I opened those pull requests by accident; they were supposed to be pull requests into my repository.
My fork is not open-source atm but will become open-source soon

[2019-11-04 15:42] kirillgla commented on #89
Btw the first version of the plugin for `Rider 2019.3 EAP1` [is now available](https://github.com/MrJul/ForTea/files/3804735/ForTea.Frontend-2019.3.zip)!
Pretty much everything from the original plugin now works in Rider.
To install this plugin, go `Settings > Plugins > Install plugin from disk`.
I encourage you to try it. The plugin is still in its early days, so any feedback is welcome. Thank yo

[2019-11-04 15:42] kirillgla commented on #89
P.S.: Please note that the plugin does not support EnvDTE library yet.
P.S.S: Because Rider already has T4 executor by default (but a one that cannot expand macros), you most likely want to disable that. To do that, go `Settings > Tools > Custom Tools > T4 Template > Disable` (red `x` to the right)

[2019-11-04 17:58] kendallb commented on #89
That's awesome, I will give it a try. Does it require EAP1? I hope the Rider version won't be locked to the versioning of Rider itself like the R# one is, as that is super annoying that every time R# gets updated you need a new build on ForTea, and literally all that is done is to add the new version and recompile?

[2019-11-04 19:43] kendallb commented on #89
BTW, I did not think EnvDTE worked at all in Rider anyway? I have been re-writing my templates to get rid of it.

[2019-11-05 08:30] kirillgla commented on #89
I am afraid it is not possible for a plugin to target multiple versions of Rider right now, so yes, that plugin would require `EAP 1`. [Here is](https://github.com/MrJul/ForTea/files/3807886/ForTea.Frontend-2019.2.3.zip) a plugin for `Rider 2019.2.3` in case you don't want to install the EAP.
And updating plugin is, unfortunately, more than just adjusting the version because Rider (as well as R#)

[2019-11-05 08:32] kirillgla commented on #89
You are right about `EnvDTE`, it doesn't work at all in Rider. There are some vague plans on making it work in T4 in Rider, but that is unlikely to happen anytime soon

[2019-11-05 17:04] kendallb commented on #89
Well thats annoying about the plugins. Maybe there needs to be some binary compatibility for the plugins at some point that is maintained, at least across major versions? It's a bit silly to be requiring new versions for every minor IDE update?

Although if the plugin is actively maintained and updated it is not a problem, but that was not happening for the R# one.

[2019-11-09 03:00] kendallb commented on #89
The one for 2019.2.3 works great so far!

[2019-11-28 02:03] TimSirmovics opened #106 "JetBrains official ForTea repository"
For anyone interested, JetBrains are maintaining their own official fork of ForTea that is kept up to date with the latest R# versions: https://github.com/JetBrains/ForTea

[2019-12-04 16:20] kirillgla commented on #89
The plugin is now installed in Rider out of the box, so I believe this issue is solved and can be closed?

[2019-12-04 17:10] kendallb commented on #89
Yeah probably. I have not tried the EAP. Waiting on the release version to try it. Do you know when that will be arriving?

[2019-12-04 19:08] matkoch commented on #89
@kendallb I advice you to try the EAP. If everyone was about to only try the release version, there is no point in having an EAP. Especially when new features arrive.

[2019-12-04 20:31] kendallb commented on #89
Yeah I know I have used EAP's in the past, but we are in code crunch time at the moment so I don't have time to deal with issues. Although EAP3 is probably pretty solid. Maybe later in the week.